#default-character {
  width: 200px;
  height: 300px;
  background-image: url('./default-character.png');
}

.layer {
  position: absolute;
  width: 100px;
  height: 100px;
}
.layer1 {
  background-image: url("./fgdesigner/files/layer1.png");
  z-index: 1;
}
.layer2 {
  background-image: url("./fgdesigner/files/layer2.png");
  z-index: 2;
}
.layer3 {
  background-image: url("./fgdesigner/files/layer3.png");
  z-index: 3;
}
.layer4 {
  background-image: url("./fgdesigner/files/layer4.png");
  z-index: 4;
}
.layer5 {
  background-image: url("./fgdesigner/files/layer5.png");
  z-index: 5;
}
